<% if @article.errors.any? %>
<h2>This are the errors that prevented the article from being created</h2>
 <ul>
    <% @article.errors.full_messages.each do |msg|%>
       
        <li  class="text-danger"><%=msg%></li>
        
    <%end%>
</ul>
<%end%>

<div class="row">
    <div class ="col-md-12">
      <div class="form-group row">
        <%= form_for @article do |f|%>
         <%= f.label :title, class: "col-sm-2 col-form-label"%>
        <div class="col-sm-8">
					<%= f.text_field :title, class: "form-control", placeholder: "Title of the article", autofocus: true %>
   		 </div>
			</div>
			<%= f.label :description, class: "col-sm-2 col-form-label" %><br>
			<%= f.text_area  :description, row: 10 ,class: "form-control",  autofocus: true  %>
      <%= f.submit%>
	  <%end%>
    </div>
</div>

  
        <%= link_to 'All articles', articles_path %>
        