<% if @article.errors.any? %>
<h2>This are the errors that prevented the article from being created</h2>
 <ul>
    <% @article.errors.full_messages.each do |msg|%>
       
        <li  class="text-danger"><%=msg%></li>
        
    <%end%>
</ul>
<%end%>
<%= form_for @article do |f|%>
<p class = "mx-5">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
</p>

<p class = "mx-5">
    <%= f.label :description %><br>
    <%= f.text_area  :description %>

</p>
<p class = "mx-5">
<%= f.submit%>
</p>

<%end%>
<p class= "mx-5">
<%= link_to 'All articles', articles_path %>
<p>