<h1>Edit Article with Id <%= params[:id] %></h1>

<% if @article.errors.any? %>
<h2>This are the errors that prevented the article from being created</h2>
 <ul>
    <% @article.errors.full_messages.each do |msg|%>
       
        <li  class="text-danger"><%=msg%></li>
        
    <%end%>
</ul>
<%end%>
<%= form_for @article do |f|%>
<p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
</p>

<p>
    <%= f.label :description %><br>
    <%= f.text_area  :description %>

</p>
<p>
<%= f.submit%>
</p>

<%end%>