
<div class = "jumbotron text-center rounded-0 ">
<h1 class="text-primary mx-5">Here where are all the articles</h1>

 <a class = "mx-5"><%= link_to "Create article", new_article_path %> </a>

</div>
<table class="mx-5 my-5">
<tr>
    <th class = "text-danger">Title</th>
    <th class = "text-danger">Description</th>
</tr>

<% @articles.each do |article|%>

  <tr > 
		<td class="py-2"> <%=article.title%>  </td>
			<td class="py-2"> <%=article.description%></td>
			<td class="py-2 pl-2"> <%= link_to 'Edit', edit_article_path(article) %> </td>
			<td class="py-2 pl-2"> <%= link_to 'Show', article_path(article) %> </td>
			<td class="py-2 pl-2"> <%= link_to 'Delete', article_path(article),  method: :delete, data: { confirm: 'Are you sure?' } %> </td>

	 </tr>
<%end%>

</table>
