<h1 align= "center">All users</h1>

<%= will_paginate @articles, list_classes: %w(pagination justify-content-center my-5) %>
<% @users.each do |user|%>


<div class = "card">
  <div class="card-body">
  <%= gravatar_for(user) %>
  <h5 class="card-title">Username: <%=user.username%></h5>
 <ul class="list-group list-group-flush">
   
   <li class="list-group-item">User email: <%=user.email%></li>
   <li class="list-group-item">User id: <%=user.id%></li>
   <li class="list-group-item">Go to  <%= link_to "#{user.username}", user_path(user) %> </li>
   <li >Num of articles: <%=  user.articles.count if user.articles.count > 0 %> </li>
  </ul>
</div>
</div>



<%end%>
<%= will_paginate @articles, list_classes: %w(pagination justify-content-center my-5) %>
