<!DOCTYPE html>
<html>
  <head>
    <title>SuperBlogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('vmlogo.svg'), :rel => 'icon', :type => "image/x-icon" %>
  </head>
 
  <body class="bg-white">
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <div class="container py-5">
       <%= yield %>
    </div>

    <%= debug(params) if Rails.env.development? %>
    <%= render 'layouts/footer' %>
  </body>
</html>
